/* Navigation - mobile */

.menu-link:link,
.menu-link:visited {
  display: block;
  width: 100%;
  padding: 1.5rem;
  font-size: 1.5em;
  color: #f0f0f0;
  text-align: center;
  background-color: hsl(280, 70%, 37%);
}
