/* Navigation - mobile */
.nav-menu {
  position: fixed;
  top: 4rem;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(280, 70%, 35%);
  overflow: auto;
}

.menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu-link:link,
.menu-link:visited {
  display: block;
  width: 100%;
  padding: 1.5rem;
  font-size: 1.5em;
  color: #f0f0f0;
  text-align: center;
  background-color: hsl(280, 70%, 37%);
}
