/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-size: 100%;
  font-family: "Open Sans", sans-serif;
}

/* Navigation */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0f0f0f;
  padding: 0 0.75rem;
}

.logo {
  color: #f5f5f5;
  font-size: 3em;
  letter-spacing: -0.7rem;
}

.hamburger-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 2.5rem;
  height: 2.5rem;
}

.hamburger-line {
  width: 100%;
  height: 0.4rem;
  border-radius: 2px;
  background-color: #f5f5f5;
}

.hamburger-line-top-open {
  transform: translateY(13px) rotate(45deg);
}

.hamburger-line-middle-open {
  visibility: hidden;
}

.hamburger-line-bottom-open {
  transform: translateY(-13px) rotate(-45deg);
}
