/* resetting styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

/* general styles */
body {
  font-size: 100%;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 175px) {
  body {
    font-size: 50%;
  }
}

@media (max-width: 75px) {
  body {
    font-size: 25%;
  }
}
