/* resetting styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration-line: none;
}

/* general styles */
body {
  font-family: "Roboto", sans-serif;
  background-color: #e7ecef;
}

@media (max-width: 100px) {
  body {
    font-size: 30%;
  }
}

@media (min-width: 100px) and (max-width: 175px) {
  body {
    font-size: 60%;
  }
}

@media (min-width: 2560px) {
  body {
    font-size: 150%;
  }
}
