/* header make reservation */

.make-reservation-video {
  width: 100%;
}

.make-reservation-form {
  background-color: #ffffff;
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.make-reservation-form label,
.make-reservation-form select,
.make-reservation-form input {
  display: block;
}

.make-reservation-title {
  font-size: 1.2em;
  font-weight: 700;
  font-family: "M PLUS Rounded 1c", sans-serif;
  letter-spacing: -1px;
  text-align: center;
  color: #274c77;
}

#localization-select,
#data-from-input,
#pick-up-time-input,
#data-to-input,
#return-time-input,
.make-reservation-submit {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

#localization-select,
#data-from-input,
#pick-up-time-input,
#data-to-input,
#return-time-input {
  border: 1px solid #e6e6e6;
  background-color: #fafafa;
}

.make-reservation-submit {
  border: 1px solid #274c77;
  background-color: #274c77;
  color: #e7ecef;
  font-weight: 700;
  width: 100px;
}

.make-reservation-submit:hover,
.make-reservation-submit:active {
  border: 1px solid #32639a;
  background-color: #32639a;
}

.make-reservation-form label {
  font-size: 0.75em;
  margin-bottom: 2px;
  color: #65655e;
}

#data-from-input,
#data-to-input {
  margin-bottom: 15px;
}
