/* header make reservation */

.make-reservation-section {
  width: 100%;
  height: 50vh;
  background-image: url("../assets/porsche.jpg");
  background-size: cover;
  background-position: center;
}

.make-reservation-content {
  width: 100%;
  height: 100%;
  padding: 2em;
  background-image: linear-gradient(to bottom, #274c77, #274c77cc);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  text-align: center;
  font-weight: 700;
  letter-spacing: -1.2px;
  color: #e7ecef;
}

.make-reservation-content h2 {
  font-size: 1.6em;
}

.make-reservation-content p {
  font-size: 1.1em;
}

.make-reservation-form {
  background-color: #ffffff;
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.make-reservation-form label,
.make-reservation-form select,
.make-reservation-form input {
  display: block;
}

.make-reservation-title {
  font-size: 1.2em;
  font-weight: 700;
  font-family: "M PLUS Rounded 1c", sans-serif;
  letter-spacing: -1px;
  text-align: center;
  color: #274c77;
}

#localization-select,
#data-from-input,
#pick-up-time-input,
#data-to-input,
#return-time-input,
.make-reservation-submit {
  width: 100%;
  padding: 0.8em;
  font-size: 1em;
  border-radius: 5px;
}

#localization-select,
#data-from-input,
#pick-up-time-input,
#data-to-input,
#return-time-input {
  border: 1px solid #e6e6e6;
  background-color: #fafafa;
}

.make-reservation-submit {
  border: 1px solid #274c77;
  background-color: #274c77;
  color: #e7ecef;
  font-weight: 700;
  max-width: 100px;
}

.make-reservation-submit:hover,
.make-reservation-submit:active {
  border: 1px solid #32639a;
  background-color: #32639a;
}

.make-reservation-form label {
  font-size: 0.75em;
  margin-bottom: 2px;
  color: #65655e;
}

#data-from-input,
#data-to-input {
  margin-bottom: 15px;
}

@media (max-width: 300px) {
  .make-reservation-section {
    height: 25vh;
  }

  .make-reservation-content h2 {
    font-size: 8vw;
  }

  .make-reservation-content p {
    font-size: 6vw;
  }
}

@media (min-width: 768px) {
  .make-reservation {
    display: flex;
    height: calc(100vh - 4em);
  }

  .make-reservation-section {
    flex: 2;
    height: 100%;
  }

  .make-reservation-form {
    flex: 1;
    height: 100%;
  }

  .make-reservation-content h2 {
    font-size: 2.5em;
  }

  .make-reservation-content p {
    font-size: 1.5em;
  }
}

@media (min-width: 1024px) {
  .make-reservation-content h2 {
    font-size: 3.5em;
  }

  .make-reservation-content p {
    font-size: 2em;
  }
}
