/* top navigation */

#top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4em;
  padding: 1em;
  overflow: hidden;
  background-color: #274c77;
}

.top-nav-logo {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 2.75em;
  letter-spacing: -0.3em;
  width: 1.4em;
  font-weight: 900;
  color: #e7ecef;
}

#hamburger {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 2.75em;
  height: 2.75em;
}

.hamburger-line {
  width: 100%;
  height: 0.5em;
  border-radius: 3px;
  background-color: #e7ecef;
  transition: transform 0.2s ease-in-out;
}

.top-nav-open .hamburger-line-top {
  transform: translateY(0.9em) rotateZ(45deg);
}

.top-nav-open .hamburger-line-middle {
  transform: translateX(100vw);
}

.top-nav-open .hamburger-line-bottom {
  transform: translateY(-0.9em) rotateZ(-45deg);
}

.top-nav-menu {
  position: fixed;
  top: 4em;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #274c77;
  transform: translateX(100%);
  transition: transform 0.2s ease-in-out;
}

.top-nav-open .top-nav-menu {
  transform: translateX(0%);
}

.top-nav-menu-list {
  background-color: #1f3e60;
}

.top-nav-menu-link:link,
.top-nav-menu-link:visited {
  display: block;
  padding: 1em;
  font-size: 1.1em;
  letter-spacing: -0.05em;
  text-align: center;
  background-color: #23456c;
  color: #fdfffc;
  transition: background-color 0.2s ease-in-out;
}

.top-nav-menu-link:hover,
.top-nav-menu-link:active {
  background-color: #386fad;
}

@media (min-width: 768px) {
  #top-nav {
    padding: 1em;
    padding-right: 0;
  }

  #hamburger {
    display: none;
  }

  .top-nav-menu {
    position: static;
    overflow: auto;
    height: 4em;
    background-color: transparent;
    transform: translateX(0%);
    transition: none;
  }

  .top-nav-menu-list {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    height: 4em;
    background-color: transparent;
  }

  .top-nav-menu-link:link,
  .top-nav-menu-link:visited {
    background-color: transparent;
    color: #fcfffa99;
    transition: color 0.2s ease-in-out;
    cursor: pointer;
  }

  .top-nav-menu-link:hover,
  .top-nav-menu-link:active {
    color: #fdfffc;
  }
}

@media (min-width: 1024px) {
  #top-nav {
    padding: 1em;
    justify-content: space-around;
  }
}
